*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 80px;
}

.menu{
    color: white;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px;
    margin-top: 35px;
}

body {
    background-color: #e61d2b;
}

.coca-cola {
    width: 68%;
    display: flex;
    position: absolute;
    top: 19%;
    left: 17%;
}

.coca-cola img{
    color: azure;
    filter: drop-shadow(0 0 90px rgb(134, 27, 31));
}

.garrafa-coca{
    width: 10.5%;
    right: 42%;
    display: flex;
    position: absolute;

}

.texto{
    color: white;
    text-align: center;
    font-size: 27px;
    width: 15%;
    position: absolute;
    top: 35%;
    left: 33.5%;
}